<ul>
  <li *ngFor="let d of groupedData | async">
    {{ d.vid }} - {{ d.sessions.length }} sessions
    <ng-container
      *ngIf="
        selectedForMultiview.vid === d.vid &&
        selectedForMultiview.selected.length > 0
      "
    >
      <button (click)="navigateMultiview()">View multiview</button>
      <button (click)="clearMultiview()">Clear multiview</button>
    </ng-container>
    <ol>
      <li *ngFor="let s of d.sessions">
        <a [routerLink]="['/', 'map']" [queryParams]="{ id: s.order }">{{
          s.callsign
        }}</a>
        ({{ s.connectionTime }} - {{ s.lastUpdatedTime }}) {{ s | validate }}
        <button
          *ngIf="
            (selectedForMultiview.selected.length === 0 ||
              selectedForMultiview.vid === s.vid) &&
            !selectedForMultiview.selected.includes(s.order)
          "
          (click)="addToMultiview(s.order, d.vid)"
        >
          Add to Multiview
        </button>
        <button
          *ngIf="selectedForMultiview.selected.includes(s.order)"
          (click)="removeFromMultiview(s.order)"
        >
          Remove from Multiview
        </button>
      </li>
    </ol>
  </li>
</ul>
Load data:
<input type="file" #dataLoader (change)="onFileChanged($event)" />
<button (click)="loadData()">Load</button>
<br />
<button (click)="downloadData()">Download</button>
<button (click)="downloadResult(true)">Download Valid</button>
<button (click)="downloadResult(false)">Download Invalid</button>
